:root {
    --primary-light: rgb(189, 70, 70);
    --primary-dark: #0b1017;
    --secondary-dark: #647ba1;
    --secondary-dark-hover: #1a2e4f;
    --secondary-dark-active: #2b65ee;
    --header: #0f4290;
    --primary-yellow: #292419;
  }